@import "../../styles/variables";

.colContainer {
  position: relative;

  &__image {
    // overflow: hidden;
    position: sticky;

    top: 150px;
    @include breakpoint(md) {
      top: 320px;
      height: calc(100vh - 20rem);
    }
    @include breakpoint(lg) {
      top: 200px;
      height: calc(100vh - 10rem);
    }
    @include breakpoint(xl) {
      top: 150px;
      height: calc(100vh - 2rem);
    }
  }
}
.shapeContainer {
  position: absolute;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  &__circle {
    position: relative;
    top: 5%;
    right: -60%;
  }
}
