@import "../../styles/variables";

.colContainer {
  position: relative;

  &__image {
    // overflow: hidden;
    position: sticky;

    top: 150px;
    @include breakpoint(md) {
      top: 320px;
      height: calc(100vh - 20rem);
    }
    @include breakpoint(lg) {
      top: 200px;
      height: calc(100vh - 10rem);
    }
    @include breakpoint(xl) {
      top: 150px;
      height: calc(100vh - 2rem);
    }
    @include breakpoint(xxl) {
      top: 150px;
      height: calc(100vh - 2rem);
    }
    @include breakpoint(sl) {
      top: 250px;
      // height: 100vh;
      height: calc(100vh - 15rem);
    }
  }
}
.shapeContainer {
  margin: 0 auto;
  position: absolute;
  width: 100vw;
  height: 90%;
  top: 0;

  left: 0;

  overflow: hidden;
  z-index: -1;
  &__circle {
    max-width: 75%;
    position: relative;
    top: 5%;
    right: -60%;

    // @include breakpoint(sl) {
    //   right: -20%;
    //   // top: 250px;
    //   // height: calc(100vh - 15rem);
    // }
  }
}
