@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&display=swap");

//fonts
$Montserrat: "Montserrat", sans-serif;

//colors
$Lipstick: #981b46;
$Blue: #2f4858;
$Charcoal: #222528;

.lipstick {
  color: $Lipstick;
}
.bg-lipstick {
  background-color: $Lipstick;
}

.blue {
  color: $Blue;
}
.bg-blue {
  background-color: $Blue;
}

.charcoal {
  color: $Charcoal;
}

.white {
  color: white;
}
.bg-white {
  background-color: white;
}

@mixin breakpoint($point) {
  @if $point == xs {
    @media (min-width: 320px) {
      @content;
    }
  }
  @if $point == sm {
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $point == md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $point == lg {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $point == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $point == xxl {
    @media (min-width: 1440px) {
      @content;
    }
  }
  @if $point == sl {
    @media (min-width: 1900px) {
      @content;
    }
  }
}

@media (min-width: 768px) {
  .mobile-layout {
    display: none;
  }
}
@media (max-width: 767px) {
  .desktop-layout {
    display: none;
    position: relative;
    top: auto;
  }
}

.super-title {
  font-family: $Montserrat;
  font-weight: 600;
  font-size: 80px;
  // font-size: clamp(6rem, 3vw, 9rem);
}

.h1-title {
  font-family: $Montserrat;
  font-size: clamp(2rem, 3vw, 4rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  @include breakpoint(xl) {
    text-align: left;
  }
}

.h2-title {
  font-family: $Montserrat;
  font-size: clamp(2rem, 3vw, 3rem);

  font-weight: 700;
  line-height: normal;
  text-align: center;
  @include breakpoint(lg) {
    text-align: left;
  }
}

.h3-title {
  font-family: $Montserrat;
  font-size: clamp(1.5rem, 3vw, 2.25rem);

  font-weight: 700;
  line-height: normal;
}

.h4-title {
  font-family: $Montserrat;
  font-size: clamp(1.25rem, 3vw, 2rem);

  font-weight: 700;
  line-height: normal;
  text-align: center;
  @include breakpoint(md) {
    text-align: left;
  }
}

.text {
  font-family: $Montserrat;
  font-size: clamp(1rem, 1vw, 1.5rem);

  font-weight: 300;
  line-height: normal;
  margin: 0;
}
.text-bold {
  font-family: $Montserrat;
  font-size: clamp(1rem, 1vw, 1.5rem);

  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.text-italic {
  font-family: $Montserrat;
  font-size: clamp(1rem, 1vw, 1.5rem);
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.text-i-l {
  font-family: $Montserrat;
  font-size: clamp(1.5rem, 1vw, 2rem);
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.btn-text {
  font-family: $Montserrat;
  font-size: clamp(1rem, 1vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: 0 !important;
}

.btnSolid {
  padding: 0.5rem 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: auto;
  border-radius: 0.3125rem;

  @include breakpoint(lg) {
    padding: 1rem 2rem;
  }
}

.btnTransparent {
  padding: 0.5rem 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  width: auto;
  @include breakpoint(lg) {
    padding: 1rem 0;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(xl) {
    align-items: start;
  }
}

.sticky-row {
  position: sticky;
  top: 100px;
  background-color: white;
}
